{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% include 'global/partials/head.html' %}
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    {% include 'global/partials/header.html' %}
    {% if messages %}
      <div class="messages">
        {% for message in messages %}<div class="{{ message.tags }}">{{ message }}</div>{% endfor %}
      </div>
    {% endif %}
    <main class="main-content-container">
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
