:root {
  --color-primary: #38a3a5;
  --color-primary-hover: #2f8b8d;
  --color-primary-dark: #1b4e4f;
  --color-primary-dark-hover: #256364;
  --color-primary-light: #c5eaea;
  --color-primary-light-hover: #aee0e0;

  --color-secondary: #1f5c77;
  --color-secondary-hover: #1a4d65;
  --color-secondary-dark: #0f2c38;
  --color-secondary-dark-hover: #163e4d;
  --color-secondary-light: #b3d4e0;
  --color-secondary-light-hover: #99c6d6;

  --color-white: #fff;
  --color-black: #000;

  --color-dark-text: #444;
  --color-info-light: #cce5ff;
  --color-debug-light: #cce5ff;
  --color-success-light: #d4edda;
  --color-alert-light: #fff3cd;
  --color-warning-light: #fff3cd;
  --color-error-light: #f8d7da;

  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-alert-dark: #927f40;
  --color-warning-dark: #927f40;
  --color-error-dark: #da525d;

  --color-gray-0: #f9f9f9;
  --color-gray-1: #e0e0e0;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --font-primary: sans-serif;
  --font-headings: 'Roboto Slab', serif;

  --spacing-gutter-medium: 3rem;
  --spacing-gutter-large: 4rem;

  --box-shadow-default: 1px 1px 1px rgba(0, 0, 0, 0.397);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-primary);
  background: var(--color-gray-1);
  color: var(--color-dark-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

/* HEADER */
.main-header {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.logo-container {
  width: fit-content;
}

.logo-container .logo-img {
  background-size: cover;
  max-width: 4rem;
}

.header-buttons {
  display: flex;
  gap: var(--spacing-gutter-medium);
  align-items: center;
}

.header-buttons li {
  list-style: none;
  color: white;
  cursor: pointer;
}

.header-buttons li:hover {
  color: var(--color-primary-light);
  transition: all 300ms;
}

/* MAIN CONTENT */
.main-content-container {
  margin-top: var(--spacing-gutter-large);
}

/* MAIN FORM */
.form-content {
  background-color: var(--color-secondary);
  color: white;
  padding: 3rem 2rem;
  width: fit-content;
  border-radius: 1rem;
  display: flex;
  flex-flow: column;
  gap: calc(var(--spacing-gutter-medium) / 2);
  box-shadow: var(--box-shadow-default);
}

.form-content .form-title {
  font-family: var(--font-primary);
  font-weight: bolder;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-field-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.form-field-container input,
.form-field-container select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.4rem;
}

.form-field-container input {
  min-width: 25rem;
}

.errorlist {
  color: var(--color-error-dark);
  list-style: none;
}

.form-buttons-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.form-buttons-container button {
  background-color: var(--color-primary);
  padding: 0.5rem 1rem;
  font-family: var(--font-primary);
  font-weight: 800;
  color: var(--color-white);
  border-radius: 0.3rem;
  border: none;
  box-shadow: var(--box-shadow-default);
}

/* FLASH MESSAGES */
.messages {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 0.7rem 0;
}

.messages div {
  text-align: center;
}

.message-success {
  color: var(--color-success-dark);
}

.message-warning {
  color: var(--color-warning-dark);
}

.message-debug {
  color: var(--color-debug-dark);
}

.message-info {
  color: var(--color-info-dark);
}

.message-error {
  color: var(--color-error-dark);
}
